USE [master]
GO
/****** Object:  Database [QLSV3]    Script Date: 10/29/2021 9:18:54 PM ******/
CREATE DATABASE [QLSV3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSV3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSV3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV3]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASV] [varchar](20) NOT NULL,
	[MAHP] [varchar](20) NOT NULL,
	[DIEMTHI] [varbinary](256) NULL,
 CONSTRAINT [PK_BANGDIEM_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [varchar](20) NOT NULL,
	[TENHP] [nvarchar](100) NOT NULL,
	[SOTC] [int] NULL,
 CONSTRAINT [PK_HOCPHAN] PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LUONG] [varbinary](256) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](256) NOT NULL,
	[PUBKEY] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](256) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'ATM', N'An toàn mạng', 3)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'ATUDWEB', N'An toàn ứng dụng web và CSDL', 4)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'LTM', N'Lập trình mạng', 3)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'ATTT', N'An toàn thông tin K36', N'NV01')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'CNTT-K35', N'Công nghệ thông tin K40', N'NV01')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'NV01', N'NGUYEN VAN A', N'nva@yahoo.com', 0x5C7F937403275316CDAAE6213DAC16C0835E19C8586E2A90BADDAF42080A5A73E3B29FDF4D682C323F0A6F514B405D053B402DDD3BF695606BFF5ACE04C7400DC203E2C357F3B5A496EB08521546383CC6DD99D83F484D128B8B4CC1B0F9AC372611CFC9994995547AD4B3603AEF776558360E9C250E1201F771540188B569A9, N'NVA', 0x7C4A8D09CA3762AF61E59520943DC26494F8941B, N'NV01')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'NV02', N'NGUYEN VAN B', N'nvb@yahoo.com', 0x68B8B720E495BA968EC6E9C64F0CF2C87A8D8DBFFA58F57D255D9B87C64AE9AB01072E67D6174597EC370CC8584441C92DB75A57E6BBC8CE624E9F6507A7F49B1AAE1E1E2FE4243F7457FDE0250547E21FCE7330B5A18D59598D8F84FDEBF8B7AE040B3E72DA24B1B7FC4CC46D24770CE74161E1F7392B6CF20429A432A748A7, N'NVB', 0x7C4A8D09CA3762AF61E59520943DC26494F8941B, N'NV02')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'NV03', N'NGUYEN VAN C', N'nvc@yahoo.com', 0x7A1E26511B9F396B15E12F6402B8B83E2C752811A5CA4D90FE70A83FA5C5D502469C30AA053BE8E446F6A46115633F170E4C53AF2048E2D47D9473B0E8CE66C97BD78ACADD4C326E62A0AA418BD5B28616CF2DAE796F68BB731F4A7CC4E06A45FA8FB769B590F9155E6AB5C8289F8E61E1A749462101799240C160264E182340, N'NVC', 0x7C4A8D09CA3762AF61E59520943DC26494F8941B, N'NV03')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV01', N'NGUYEN VAN AB', CAST(N'1990-01-01T12:00:00.000' AS DateTime), N'280 AN DUONG VUONG', N'CNTT-K35', N'NVA', 0xCE0BFD15059B68D67688884D7A3D3E8C)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV02', N'NGUYEN VAN B', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'443/182D', N'CNTT-K35', N'SV02', 0xCE0BFD15059B68D67688884D7A3D3E8C)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV03', N'NGUYEN VAN 3', CAST(N'2000-03-03T00:00:00.000' AS DateTime), N'123', N'CNTT-K35', N'SV03', 0xCE0BFD15059B68D67688884D7A3D3E8C)
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_HOCPHAN] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HOCPHAN] ([MAHP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_HOCPHAN]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_NHANVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_BANGDIEM]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_BANGDIEM]
@masv varchar(20), @mahp varchar(20), @diem nvarchar(20), @manv varchar(20)
AS
INSERT INTO BANGDIEM
VALUES (@masv, @mahp, ENCRYPTBYASYMKEY(ASYMKEY_ID(@manv), CONVERT(VARBINARY, @diem)))
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_ENCRYPT_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_ENCRYPT_NHANVIEN]
@MANV VARCHAR(20), @HOTEN NVARCHAR(100), @EMAIL VARCHAR(20),
@LUONG VARBINARY(256), @TENDN NVARCHAR(100), @MATKHAU VARBINARY(40)
AS
INSERT INTO NHANVIEN
VALUES(@MANV, @HOTEN, @EMAIL, @LUONG, @TENDN, @MATKHAU, @MANV)
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_ENCRYPT_SINHVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_ENCRYPT_SINHVIEN]
@MASV NVARCHAR(20), @HOTEN NVARCHAR(100), @NGAYSINH NVARCHAR(10), @DIACHI NVARCHAR(200),
@MALOP VARCHAR(20), @TENDN NVARCHAR(100), @MATKHAU VARBINARY(32)
AS
INSERT INTO SINHVIEN
VALUES(@MASV, @HOTEN, CONVERT(DATETIME, @NGAYSINH), @DIACHI,
	@MALOP, @TENDN, @MATKHAU)
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN]
@MANV VARCHAR (20), @HOTEN NVARCHAR(100), @EMAIL VARCHAR (20), @LUONG VARBINARY(MAX), 
@TENDN NVARCHAR(100), @MATKHAU VARBINARY(40), @PUBKEY VARCHAR(20)
AS
INSERT INTO NHANVIEN 
VALUES(@MANV, @HOTEN, @EMAIL, @LUONG, @TENDN, @MATKHAU, @PUBKEY)
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_PUBLIC_NHANVIEN]
@MANV VARCHAR(20), @HOTEN NVARCHAR(100), @EMAIL VARCHAR (20),
@LUONG FLOAT, @TENDN NVARCHAR(100), @MATKHAU NVARCHAR(50)
AS
DECLARE @C NVARCHAR(MAX) = '
CREATE ASYMMETRIC KEY ' + @MANV + '
	WITH ALGORITHM = RSA_2048
	ENCRYPTION BY PASSWORD = ''' + @MATKHAU +'''';
EXEC(@C);
INSERT INTO [NHANVIEN] VALUES (@MANV, @HOTEN, @EMAIL,
			ENCRYPTBYASYMKEY(ASYMKEY_ID(@MANV), CONVERT(NVARCHAR, @LUONG)),
			@TENDN, HASHBYTES('SHA1', @MATKHAU), @MANV)
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_SINHVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_INS_SINHVIEN]
@MASV NVARCHAR(20), @HOTEN NVARCHAR(100), @NGAYSINH NVARCHAR(20),
@DIACHI NVARCHAR(200), @MALOP VARCHAR (20), @TENDN NVARCHAR(100), @MATKHAU NVARCHAR(50)
AS
INSERT INTO SINHVIEN 
VALUES (@MASV, @HOTEN, CONVERT(DATETIME, @NGAYSINH, 103), @DIACHI, @MALOP, @TENDN, 
CONVERT(VARBINARY(50), HASHBYTES('MD5', @MATKHAU),1))
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN_ENCRYPTED_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN_ENCRYPTED_NHANVIEN]
@TENDN NVARCHAR(100), @MATKHAU VARBINARY(40)
AS
SELECT MANV, HOTEN, EMAIL, LUONG
FROM NHANVIEN
WHERE TENDN = @TENDN AND MATKHAU = @MATKHAU
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN_NHANVIEN]
@TenDN NVARCHAR(100), @Matkhau NVARCHAR(100)
AS
SELECT TENDN, MATKHAU
FROM NHANVIEN
WHERE TENDN = @TenDN AND MATKHAU = CONVERT(VARBINARY(MAX), HASHBYTES('SHA1', @matkhau), 2);
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN_SINHVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN_SINHVIEN]
@TenDN NVARCHAR(100), @Matkhau NVARCHAR(100)
AS
SELECT TENDN, MATKHAU
FROM SINHVIEN
WHERE TENDN = @TenDN AND MATKHAU = CONVERT(VARBINARY(MAX), HASHBYTES('MD5', @matkhau), 2);
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_BANGDIEM]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_BANGDIEM] 
@manv varchar(20), @mk nvarchar(20), @malop nvarchar(20), @mahp nvarchar(20)
AS
	SELECT BANGDIEM.MASV, HOTEN, MAHP,
		CONVERT(NVARCHAR, DECRYPTBYASYMKEY(ASYMKEY_ID(@manv),DIEMTHI,@mk)) AS DIEM
	FROM SINHVIEN, BANGDIEM
	WHERE SINHVIEN.MASV = BANGDIEM.MASV AND SINHVIEN.MALOP = @malop AND MAHP = @mahp
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_ENCRYPT_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_ENCRYPT_NHANVIEN]
AS
SELECT MANV, HOTEN, EMAIL, LUONG
FROM NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_NHANVIEN]
AS
SELECT MANV, HOTEN, EMAIL, CONVERT(NVARCHAR, DECRYPTBYKEY(LUONG)) AS LUONGCB
FROM NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]
@MANV VARCHAR(20), @MATKHAU VARBINARY(40)
AS
SELECT MANV, HOTEN, EMAIL, LUONG, TENDN, MATKHAU, PUBKEY
FROM NHANVIEN WHERE MANV = @MANV AND MATKHAU = @MATKHAU
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_PUBLIC_NHANVIEN]
@TENDN NVARCHAR(100), @MATKHAU NVARCHAR(50)
AS
SELECT MANV, HOTEN, EMAIL,
	CONVERT(NVARCHAR, DECRYPTBYASYMKEY(ASYMKEY_ID(PUBKEY), LUONG, @MATKHAU)) AS LUONGCB,
	TENDN, PUBKEY
FROM [NHANVIEN]
WHERE TENDN = @TENDN AND HASHBYTES('SHA1', @MATKHAU) = MATKHAU
GO
/****** Object:  StoredProcedure [dbo].[SP_UP_BANGDIEM]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UP_BANGDIEM]
@masv varchar(20), @mahp varchar(20), @diem nvarchar(20), @manv varchar(20)
AS
UPDATE BANGDIEM
SET DIEMTHI = ENCRYPTBYASYMKEY(ASYMKEY_ID(@manv), CONVERT(VARBINARY, @diem))
WHERE MASV = @masv AND MAHP = @mahp
GO
/****** Object:  StoredProcedure [dbo].[SP_UP_ENCRYPT_NHANVIEN]    Script Date: 10/29/2021 9:18:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UP_ENCRYPT_NHANVIEN]
@MANV VARCHAR(20), @HOTEN NVARCHAR(100), @EMAIL VARCHAR(20),
@LUONG VARBINARY(256), @TENDN NVARCHAR(100), @MATKHAU VARBINARY(40)
AS
UPDATE NHANVIEN
SET HOTEN = @HOTEN, EMAIL = @EMAIL, LUONG = @LUONG, TENDN = @TENDN, MATKHAU = @MATKHAU
WHERE MANV = @MANV
GO
USE [master]
GO
